body{
    padding    : 0;
    margin     : 0;
    font-family: (Helvetica);
    color:red;
}
/*============HEADER============*/

#header{
     position:fixed;
     top     : 0;
     left    : 0;
     z-index : 500;
     width   :100%;
     height  :80px;
     background-image  : url('images/headerimg.png');
     background-repeat: repeat-x;
     padding-left: 575px;
}

#h1{font-display:initial;
     height : 70%;
     padding-left: 50px;
}

/*================TOP-TABS===============*/

 #tabs-top{
     position: fixed;
     top     : 80px;
     left    : 0;
     z-index : 500;
     width   : 100%;
     height  : 40px;
     background-color:bisque;
}

#tabs-top a{
     float   : left;
     display : block;
     width   : 33%;
     height  :35px;
     font-weight : 700;
     color       :darkcyan;
     text-align  : center;
     text-decoration : none;
     padding-top     : 12px;  
}  
/*=============MAIN-HOME============*/
#main-home{
   margin: 0px;
}
/*=============BOTTOM-TABS============*/
#tabs-bottom{
   position : fixed;
     bottom   : 0;
     left     : 0;
     z-index  : 500;
     width    : 100%;
     height   : 40px;
     background-color:bisque;
}
#tabs-bottom a{
    float : left;
    display : block;
    width : 50%;
    height : 35px;
    font-weight : 700;
    color       : darkcyan;
    text-align  : center;
    text-decoration : none;
    padding-top     : 12px;
}

/*=============MAIN============*/
#main-home{
     margin-top: 119px;
     background: url('images/mapimage.jpg');
     background-repeat: repeat-y;
 }
 
 #content{
     padding-top: 1px;
     padding-bottom: 50px;
 }
 a.info-box{
     text-decoration : none;
     background : rgba(255, 225, 255,.8);
     width           : 90%;
     height          : 90px;
     display         : block;
     margin          : auto;
     margin-top      : 12px;
     padding         : 1px; 
}

.info-box img{
     height : 70px;
     margin : 10px;
     float  : left;
}

.info-box h3{
     padding : 0;
     margin-bottom :0;
     width : 90%;
     color :lightseagreen;
}

.info-box p{
     margin  : 0;
     padding : 0;
     width   : 90%;
     color   : #131313;
}

.info-box img.right{
     float      : right;
     margin-top : 25px;
     height: 40px; 
}
/*==============INFO BOX FULL============*/
#info-box-full{
     background-color : rgba(255, 255, 255, .8) ;
     width   : 90%;
     display : block;
     margin  : auto;
     margin-top : 12px;
     padding    : 10px;
}

#info-box-full img{
     width : 100%;
}

#info-box-full h3{
     text-align : center;
}
table{
   width:100%; 
}
td{
   border-top: 1px solid #131313;
}
/*==============FORM============*/

input{
     width: 100%;
     height: 25px;
     margin : 12px 0;
     border : 1px solid #929292;
}

textarea{
     width: 100%;
     height :25px;
     margin : 12px 0;
     border : 1px solid #929292;
}

.button{
     display : block;
     background-color: forestgreen;
     text-decoration : none;
     text-align  : center;
     color       : white;
     font-size   : 16px;
     font-weight : 600;
     margin : 12px 0;
     padding : 8px 0;
}
button{
     width:auto;
     height:auto;
     background-color:lawngreen;
 }
 button:hover{
      color:blue;
     font-family:helvetica, sans-serif;
     font-size:22px;
     font-weight:800px;
     
 }
 #button{
      width:inherit;
     height:auto;
     background-color:blueviolet; 
 }
 .gallery img{ 
     width:auto;
     padding-left:180px;
     padding-top: 100px;
     page-break-after: auto;
 }


 
 
 
 






 
